@media only screen and (min-width: 1024px) {

   .hero-header {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFCE8;
    padding: 20px;
   }
   
   .hero-paragrapgh{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33.6px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFCE8;
    padding:20px 200px;
   }

   
     
     }/*  end of media query */